@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.Title {
    color: red;
    font-family: 'Roboto Slab', serif;
}

.TaskNumber {
    text-align: center;
    font-family: 'Roboto Slab', serif;
}